@import "variables";
@import "../../../node_modules/bootstrap/scss/bootstrap.scss";
@import "keyframes";
@font-face {
  font-family: "Roboto";
  src: url(../../assets/fonts/Roboto-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

.h1-hero {
  font-size: 10vw;
  color: transparent;
  background: linear-gradient(to left, #7373ff, #00ff00);
  background-clip: text;
  position: relative;
  width: max-content;
  margin: 15vh auto;
  animation: neonFlicker 3s forwards;

  &::after {
    content: attr(data-shadow);
    position: absolute;
    bottom: 0%;
    left: 0;
    width: 100%;
    height: 100%;
    color: transparent;
    background: linear-gradient(to left, #7373ff, #00ff00);
    background-clip: text;
    transform: scaleY(-1);
    transform-origin: bottom;
    z-index: -1;
    filter: blur(4px);
    opacity: 0.6;
  }
}

.hero-p {
  color: white;
  font-size: max(2vw, 50%);
  width: 60%;

  span:first-of-type {
    animation: fadeSide 1s linear;
  }
  b {
    opacity: 0;
    animation: appear 1s linear forwards 1s;
  }
  b:nth-of-type(2) {
    animation-delay: 1.5s;
  }
  b:nth-of-type(3) {
    animation-delay: 2s;
  }
}
.hero-button {
  padding: 2rem 4rem;
  font-size: 2rem;
  background-color: transparent;
  text-decoration: none;
  box-shadow: 0px 0px 10px 0px blue;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  transition: 1s;
  cursor: pointer;
  width: max-content;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to left, #7373ffb0, #00ff00b0);
    z-index: -1;
    border-radius: 20px;
    transition: 1s;
  }

  &:nth-of-type(1)::after {
    margin-left: 100%;
  }
  &:nth-of-type(2)::after {
    margin-top: 100%;
  }
  &:nth-of-type(3)::after {
    margin-left: -100%;
  }
  &:hover {
    color: black;
    &::after {
      margin: 0;
      border: none;
    }
  }
}

/* TIMETRAVEL ------------------------------------------------------------------------------------- */

#year1991 {
  font-family: "Times New Roman", Times, serif;
  background-color: $light-color;
  line-height: 1.4;
  width: 100%;
  z-index: 1;
  position: sticky;
  top: 0;
  min-height: 100vh;

  div h1 {
    font-size: 4rem;
    font-weight: bold;
  }
}
p {
  font-size: 1rem;
  font-weight: bolder;
}

.link-1991 {
  text-decoration: underline;
  color: blue;
  font-weight: bold;
  font-size: 1.1rem;
  cursor: pointer;
}
#year1991 {
  display: none;
}
#linkContainer {
  background-color: $light-color;
}
#startlink {
  @extend .link-1991;
  font-size: 6vw;
  font-family: "Times New Roman", Times, serif;
}
#dynamicText {
  font-family: "Times New Roman", Times, serif;
  white-space: pre-wrap;
  display: inline-block;
}

#year1991 > * {
  opacity: 0;
  animation: fadeIn 1s ease-out forwards 2.5s;

  &:nth-child(1) {
    animation-delay: 0.5s;
  }
  &:nth-child(2) {
    animation-delay: 6s;
  }
  &:nth-child(3) {
    animation-delay: 6.5s;
  }
  &:nth-child(4) {
    animation-delay: 7s;
  }
  &:nth-child(5) {
    animation-delay: 7.5s;
  }
  &:nth-child(6) {
    animation-delay: 8s;
  }
  &:nth-child(7) {
    animation-delay: 8.5s;
  }
  &:nth-child(8) {
    animation-delay: 9s;
  }
  &:nth-child(9) {
    animation-delay: 9.5s;
  }
  &:nth-child(10) {
    animation-delay: 10s;
  }
  &:nth-child(11) {
    animation-delay: 10.5s;
  }
  &:nth-child(12) {
    animation-delay: 11s;
  }
  &:nth-child(13) {
    animation-delay: 11.5s;
  }
  &:nth-child(14) {
    animation-delay: 12s;
  }
  &:nth-child(15) {
    animation-delay: 12.5s;
  }
  &:nth-child(16) {
    animation-delay: 13s;
  }
  &:nth-child(17) {
    animation-delay: 13.5s;
  }
  &:nth-child(18) {
    animation-delay: 14s;
  }
  &:nth-child(19) {
    animation-delay: 14.5s;
  }
  &:nth-child(20) {
    animation-delay: 15s;
  }
  &:nth-child(21) {
    animation-delay: 15.5s;
  }
  &:nth-child(22) {
    animation-delay: 16s;
  }
  &:nth-child(23) {
    animation-delay: 16.5s;
  }
}

/* 1995 ------------------------------------------------------------------------------------- */

#year1995 {
  height: 100vh;
  background: url("../assets/imgages/windows-95.webp") no-repeat center center /
    cover;
}
